@font-face {
  font-family: "Solide Mirage";
  src: url("Mono/Solide_Mirage-Mono_web.eot");
  src: url("Mono/Solide_Mirage-Mono_web.eot?#iefix") format("embedded-opentype"),
    url("Mono/Solide_Mirage-Mono_web.woff") format("woff"),
    url("Mono/Solide_Mirage-Mono_web.woff2") format("woff2"),
    url("Mono/Solide_Mirage-Mono_web.ttf") format("truetype"),
    url("Mono/Solide_Mirage-Mono_web.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: rgb(190, 100, 48);
  --secondary-color: #347474;
}
body {
  font-size: 16px;
  font-family: "Solide Mirage", mono;
  background-color: var(--primary-color);
  color: rgb(221, 223, 221);
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 35px;
  text-align: center;
}

P {
  font-size: 20px;
  text-align: center;
  font-family: "Italiana", serif;
}

p.title-desc {
  text-align: start;
}
a {
  text-decoration: none;
  color: rgb(221, 223, 221);
}
section {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/themoonisadarkplace/image/upload/v1630172217/waterfall_o0uxl8.jpg");
  background-size: cover;
  background-attachment: fixed;
}
header {
  /* using fixed position allows us to precisely position an element
  in relation to the browser viewport */
  position: fixed;
  top: 60px;
  left: 20px;
}
footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
/* this will select only a tags that are inside of footer tags */
footer a {
  margin-right: 5px;
  font-family: "Italiana", serif;
}
footer a:hover {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}

.image_2 {
  background-image: url(https://res.cloudinary.com/themoonisadarkplace/image/upload/v1630713010/architecture_bvynaz.jpg);
}

.image_3 {
  background-image: url(https://res.cloudinary.com/themoonisadarkplace/image/upload/v1630713432/mountain_range_os0p0u.jpg);
}

.image_4 {
  background-image: url(https://res.cloudinary.com/themoonisadarkplace/image/upload/v1630713024/lotus_flower_mmyyrz.jpg);
}
.navbar {
  background-color: var(--secondary-color) !important;
}

.about_title {
  text-align: center;
  margin-top: 20px;
  font-size: 80px;
}

.about_me {
  position: relative;
  width: 100%;
  max-width: 800px;
}

div.aboutPage {
  background-color: var(--primary-color);
}

.about_desc {
  position: absolute;
  width: 100%;
  top: 50px;
  right: 650px;
  width: 700px;
}
.aboutme_pic {
  position: absolute;
  display: block;
  width: 100%;
  left: 600px;
}

.sm-desc {
  width: 400px;
}

.my_work {
  text-align: center;
  margin-top: 50px;
  font-size: 80px;
}

.contactPage {
  background-color: var(--primary-color);
}

.contactMe {
  text-align: center;
  font-size: 70px;
}

a.contactLinks:hover {
  color: var(--secondary-color);
}

.contact-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.work-footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: -18px;
  text-align: center;
  font-size: 25px;
}
